<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% load blog_extras %}
{% block title %}Blango Profile{% endblock %}
{% block content %}
{% row %}
    {% col %}
        <p>Logged in as {{ request.user }}.</p>
        <p><a href="{% url "logout" %}">Log Out</a></p>
    {% endcol %}
{% endrow %}
{% endblock content %}
<p>
    <a href="{% url "google_login" %}">Log in with Google</a>
</p>

</body>
</html>